*{Font-family: Candara;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
}
.bg-color-bg{
    background-color: #e1e1e1;

}

.bg-color-primary{
    background-color: #a4a4a4;

}
.bg-color-footer{
    background-color: #414141;

}
input{
    border-radius: 10px;
border: none;
}
form{

    border-radius: 10px;
}
input:focus{
    outline: none;
}
img{
    width: 100%;
    height: 100%;
  
   
}
.anime-card img{
    border-radius: 10px;
   height:90px
}
h5{
    font-size: 25px;
    color: black;
}
.carousel-inner {
    max-height: 407px; /* Defina a altura máxima desejada para o carrossel */
}

.carousel-inner img {
    height: auto;
    width: 100%;
}
.font-desconto{
    font-weight: 1000;
    color: rgb(255, 0, 0)
}

.card:hover{
    transform: scale(1.05);
    transition: 0.5s
}
.nav-item:hover{
    text-decoration: overline;
    transition: 0.5s
}
@media (min-width: 300px)  {
    .carousel-inner img {
        height: 200px;
        width: 100%;
    }
}
@media (min-width: 600px)  {
    .carousel-inner img {
        height: auto;
        width: 100%;
    }
}



